<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row">
        <div class="col-sm-2">
            <span class="fs-5">Orders</span>
        </div>
        <div class="col-sm-2">
            <span class="fs-5">Order Id</span>
        </div>
        <div class="col-sm-2">
            <span class="fs-5">Price</span>
        </div>
        <div class="col-sm-2">
            <span class="fs-5">Status</span>
        </div>
        <div class="col-sm-2">
           <span class="fs-5">Action</span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img class="order-img" src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png" alt="">
        </div>
        <div class="col-sm-2">
            <span>{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.priceSummary}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Progress</span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-danger" (click)="cancelOrder(order.id)">Cancel Order</button>
        </div>
    </div>
    
</div>