<ngb-carousel *ngIf="products">
	<ng-template ngbSlide *ngFor="let item of products">
		<div class="picsum-img-wrapper">
      <a routerLink="/details/{{item.id}}"><img class="img-fit" src="{{item.productImage}}" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption text-dark fs-1 bg-light bg-gradient bg-opacity-50">
			<h3>{{item.productName}}</h3>
			<p>{{item.productDesc}}</p>
		</div>
	</ng-template>
</ngb-carousel>


<div class="product-list-wrapper">
    <div class="row p-5 gy-3 bg-info-subtle" >
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="card shadow">
                <img src="{{item.productImage}}" class="card-img-top card-img1 p-4" alt="">
                <div class="card-body card-body1">
                  <h2 class="card-title">{{item.productName}}</h2>
                  <p class="card-text">{{item.productDesc}}.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Color: {{item.productColor}}</li>
                  <li class="list-group-item">Price: {{item.productPrice}}</li>
                </ul>
                <div class="card-body card-body2">
                  <a routerLink="/details/{{item.id}}"class="card-link">View Details</a>
                  <a href="#" class="card-link">Add to Cart</a>
                </div>
              </div>
        </div>
    </div>
</div>