<div class="seller">
    <div class='sign-up'>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="row g-3 seller-form">
        <h1>Sign Up Form</h1>

        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label control-label col-sm-2">Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ngModel id="exampleFormControlInput1" name='name' placeholder="Enter Name">
            </div>
        </div>

        <div class='form-group'>   
             <label class="control-label col-sm-2" for="email">Email:</label>
             <div class="col-sm-12">
                <input type="email" class="form-control" ngModel id="email" name="email" placeholder="Enter email">
             </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" ngModel id="pwd" name="pwd" placeholder="Enter password">
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Sign In</button>
        </div>

    </form>
    </div>
</div>