<div class="seller">
    <div class='sign-up'>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="row g-3 seller-form">
        <h1>{{header}}</h1>
        <p class="text-danger">{{errorComment}}</p>
        <div *ngIf="signIn" class="form-group">
            <label for="exampleFormControlInput1" class="form-label control-label col-sm-2">Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" ngModel id="exampleFormControlInput1" required name='name' #name="ngModel" minlength="4" maxlength="20" placeholder="Enter Name">
            </div>
            <p class="invalid-input"><span *ngIf="name.invalid && name.touched">Please Enter Valid Name</span></p>
        </div>

        <div class='form-group'>   
             <label class="form-label control-label col-sm-2" for="email">Email</label>
             <div class="col-sm-12">
                <input type="email" class="form-control" ngModel id="email" name="email" required email #email="ngModel" placeholder="Enter email">
             </div>
             <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Email</span></p>
        </div>

        <div class="form-group">
            <label class="form-label control-label col-sm-2" for="pwd">Password</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" ngModel id="pwd" name="pwd" #pwd="ngModel" required minlength="2" maxlength="20" placeholder="Enter password">
            </div>
            <p class="invalid-input"><span *ngIf="pwd.invalid && pwd.touched">Please Enter Valid Password</span></p>
        </div>

        <div class="col-auto">
            <button *ngIf='signIn' [disabled]="sellerSignUp.invalid"  type="submit" class="btn btn-primary mb-3">Sign Up</button>
            <button *ngIf='!signIn' [disabled]="sellerSignUp.invalid" type="submit" class="btn btn-primary mb-3">Log In</button>
        </div>

        <div class="col-auto">
            <p *ngIf='!signIn' >Don't have an Account? Please proceed to <a (click)="toggle()">Sign Up</a></p>
            <p *ngIf='signIn' >Already have an Account? Click on <a (click)="toggle()">Log In</a></p>
        </div>
    </form>
    </div>
</div>