<div class="cart-page">
    <h1>Cart</h1>
    <div class="row cart-section">
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3>Checkout</h3>
            <ul>
                <li>
                    <span>
                        Amount :
                    </span>
                    <span>
                        1000
                    </span>
                </li>
                <li>
                    <span>
                        Delivery Charges :
                    </span>
                    <span>
                        1000
                    </span>
                </li>
                <li>
                    <span>
                        Discount :
                    </span>
                    <span>
                        1000
                    </span>
                </li>
                <li>
                    <span><h2>Total</h2></span>
                    <span><h2>4000</h2></span>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 cart-details shadow rounded">
            <ul>
                <li >
                    <img src="https://rukminim1.flixcart.com/image/832/832/ktketu80/mobile/6/n/d/iphone-13-mlpg3hn-a-apple-original-imag6vpyghayhhrh.jpeg?q=70" alt="">
                </li>
                <li>
                   <span>Product Name: </span>
                </li>
                <li>
                   <span>Product Price: </span>
                </li>
                <li>
                   <span>Product Quantity: </span>
                </li>
                <li>
                   <span>Product Color: </span>
                </li>
                <li>
                   <button class="btn btn-danger">Remove from Cart </button>
                </li>
            </ul>
        </div>
       
    </div>
</div>