<div class="cart-page">
    <h1>Cart</h1>
    <div class="row cart-section">
        <div class="col-sm-8 cart-details" >
            <ul  *ngFor="let item of cartData" class="shadow rounded">
                <li >
                    <img src="{{item.productImage}}" alt="">
                </li>
                <li>
                   <span class="bold">Product Name:</span><span> {{item.productName}} </span>
                </li>
                <li>
                   <span class="bold">Product Price:</span><span> {{item.productPrice}}</span>
                </li>
                <li>
                   <span class="bold">Product Quantity:</span><span> {{item.quantity}}</span>
                </li>
                <li>
                   <span class="bold">Product Color:</span><span> {{item.productColor}}</span>
                </li>
                <li>
                   <button class="btn btn-danger" (click)="removefromCart(item.id)">Remove</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3>Order Summary</h3>
            <ul>
                <li>
                    <span>
                        Amount :
                    </span>
                    <span>
                        {{this.priceSummary.price}}
                    </span>
                </li>
                <li>
                    <span>
                        Delivery Charges :
                    </span>
                    <span>
                        {{this.priceSummary.delivery}}
                    </span>
                </li>
                <li>
                    <span>
                        Discount :
                    </span>
                    <span>
                        {{this.priceSummary.discount}}
                    </span>
                </li>
                <li>
                    <span>
                        Tax :
                    </span>
                    <span>
                        {{this.priceSummary.tax}}
                    </span>
                </li>
                <li>
                    <span><h2>Total</h2></span>
                    <span><h2>{{this.priceSummary.total.toFixed(0)}}</h2></span>
                </li>
                <li>
                    <button class="btn btn-success checkout" (click)="checkout()">Checkout </button>
                </li>
            </ul>
        </div>       
    </div>
</div>