<div class="sign-up">

    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="seller-form" >
        <h1 class="text-info-emphasis fs-4 my-3">Add New Product</h1>

        <p class="text-success-emphasis fs-5">{{addProductMessager}}</p>
        <div class="mb-3">
          <label for="exampleInput1" class="form-label">Product Name</label>
          <input type="text" name="productName" ngModel class="form-control" id="exampleInput1" placeholder="Enter Product Name">
        </div>
        <div class="mb-3">
          <label for="exampleInput2" class="form-label">Product Price</label>
          <input type="text" name="productPrice" ngModel class="form-control" id="exampleInput2" placeholder="Enter Product Price">
        </div>
        <div class="mb-3">
          <label for="exampleInput3" class="form-label">Product Category</label>
          <input type="text" name="productCategory" ngModel class="form-control" id="exampleInput3" placeholder="Enter Product Category">
        </div>
        <div class="mb-3">
          <label for="exampleInput4" class="form-label">Product Color</label>
          <input type="text" name="productColor" ngModel class="form-control" id="exampleInput4" placeholder="Enter Product Color">
        </div>
        <div class="mb-3">
            <label for="exampleInput5" class="form-label">Description</label>
            <textarea name="productDesc" ngModel class="form-control" id="exampleInput5" placeholder="Enter Product Description"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInput6" class="form-label">Product Image</label>
          <input type="text" name="productImage" ngModel class="form-control" id="exampleInput6" placeholder="Enter Product Image URL">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>