<div class="row product-details mx-3" *ngIf="product">
    <div class="col-sm-6">
        <img class="product-image" src="{{product.productImage}}" alt="">
    </div>
    <div class="col-sm-6 p-5 details-wrapper">
        <div class="details">
            <h1>{{product.productName}}</h1>
            <h3>Price: {{product.productPrice}}</h3>
                <div>
                    Color: <h4 [style.backgroundColor]="product.productColor" class="product-color"></h4>
                </div>
            <h3>Category: {{product.productCategory}}</h3>
            <h3>Description: {{product.productDesc}}</h3>
            <button class="btn btn-warning" *ngIf='!removeCart' (click)='addToCart()'>Add to Cart</button>
            <button class="btn btn-danger" *ngIf='removeCart' (click)="removefromCart(product.id)" >Remove from Cart</button>
            <button class="btn btn-success">Buy Now</button>
            <div class="quantity-group">
                <button (click) = 'handle("min")' >-</button>
                <input type="text" value="{{productQuantity}}">
                <button (click) = 'handle("plus")'>+</button>
            </div>
        </div>
    </div>
</div>