<nav class="navbar navbar-expand-lg bg-info-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">E-Commerce App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div [ngSwitch]="menuType">

      <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-auth">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-auth">Login/Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart ({{num}})</a>
        </li>
      </ul>

      <ul *ngSwitchCase="'user'" class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart ({{num}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="userlogOut()">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{userName | titlecase}}</a>
        </li>
      </ul>

      <ul *ngSwitchCase="'seller'" class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="seller-home">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-add-product">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{sellerName | titlecase}}</a>
        </li>
      </ul>

    </div>
      <form *ngIf="menuType=='default' || menuType=='user'" class="d-flex mx-auto" role="search">
        <input #searchInput class="form-control me-2" (keyup)="searchProduct($event)" (blur)="hideSearch()" type="search" placeholder="Search" aria-label="Search">
        <button class="btn bg-success-subtle btn-outline-success" type="submit" (click)="searchSubmit(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
          <li *ngFor="let item of searchResult"> <a (mousedown)="redirect(item.id)">{{item.productName}}</a></li>
        </ul>
      </form>
    </div>
  </div>
</nav>
