<div class="row search-items shadow" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.productImage}}" alt="">
        </a>
    </div>
    <div class="col-sm-8 details">
        <a routerLink="/details/{{item.id}}"><h2>{{item.productName}}</h2></a>
        <a routerLink="/details/{{item.id}}"><p><b>Price: {{item.productPrice}}</b></p></a>
        <a routerLink="/details/{{item.id}}"><p><span>Color: {{item.productColor}}</span> <span>Category: {{item.productCategory}}</span></p></a>
        <a routerLink="/details/{{item.id}}"><p>Product Description: {{item.productDesc}}</p></a>
    </div>
</div>