<div class="product-list">
    <h1>Products List</h1>
    <p class="text-success-emphasis fs-5">{{productDel}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of  productList">
                <td> <img src="{{item.productImage}}" alt="Product Image"> </td>
                <td>{{item.productName}}</td>
                <td>{{item.productPrice}}</td>
                <td>{{item.productColor}}</td>
                <td>{{item.productCategory}}</td>
                <td>{{item.productDesc}}</td>
                <td> <button type="button" class="btn btn-danger me-1" (click)="deleteProduct(item.id)" ><fa-icon [icon]="iconDel"></fa-icon>
                </button><button type="button" class="btn btn-warning"><fa-icon [icon]="iconEdit"></fa-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>